body {
    background-color: #F7F5F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: -0.8px;
}

.container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

.banner {
    width: 100%;
    background-color: #200633;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.backdrop {
    max-width: 1790px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

.backdrop .column {
    max-width: 640px;
}

h2 {
    font-size: 28px;
}

.banner-text {
    width: 600px;
    margin: 75px 0;
    text-align: center;
    font-size: 28px;
}

.logo {
    width: 241px;
    margin-top: 86px;
}

.title {
    width: 484px;
    color: #251136;
    font-size: 44px;
    font-weight: bold;
    line-height: 44px;
    margin: 278px 0 0 0;
}

.subtitle {
    width: 484px;
    color: #715B84;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    margin: 0;
    margin-bottom: 130px;
}

.screenshot {
    margin-top: 93px;
}

.button {
    display: none;
    width: 120px;
    background: #9608ED;
    border-radius: 37px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 15px 60px;
    align-items: center;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.backdrop a {
    color: #AA79D3;
}

.sites {
    columns: 2;
    list-style: none;
    padding: 0;
}

.backdrop .column {
    margin: 80px 0;
}

footer {
    margin: 40px 0;
}

.button-info {
    font-size: 16px;
    margin-bottom: 10px;
}

.browser-icons {
    display: flex;
}

.browser-icon img {
    width: 25px;
    margin-bottom: 3px;
}

.browser-icon {
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    width: 60px;
}

.button img {
    height: 30px;
    filter: invert(100%);
    margin-right: 10px;
}